[extruder]
max_extrude_only_distance: 101
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 7.721616
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: Generic 3950  # from aliexpress: 13:100k Hisens 3950 1% up to 300°C for hotend 'Simple ONE' & 'Hotend' 'All In ONE'
sensor_pin: P0.24
control: pid
# Overture PLA
# TODO: for v6 hotend yet to calibrate
#
# Polymaker PETG
# tunned with skr 1.4 and nf-volcano from mellow-3d
# below is 3rd result and seems good
# PID parameters: pid_Kp=26.633 pid_Ki=1.192 pid_Kd=148.813
pid_Kp: 26.633
pid_Ki: 1.192
pid_Kd: 148.813
min_temp: 0
max_temp: 260
# with help of this guide: https://github.com/meteyou/KlipperMisc/blob/master/PA-Calibration/README.md
pressure_advance: 0.12

[tmc2209 extruder]
uart_pin: P1.4
interpolate: True
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0