[gcode_macro motors_disable]
gcode:
  M84
  
# [gcode_macro UNLOAD_FILAMENT]
# gcode:
#     M83
#     G91
#     G1 E3 F300
#     G1 E-70 F2100
#     G90
#     M82

# [gcode_macro LOAD_FILAMENT]
# gcode:
#     M83
#     G91
#     G1 E50 F2100
#     G1 E10 F300
#     G1 E10 F300
#     G90
#     M82

# spoolman
[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

# M900 LA gcode to PA value for Marlin based pressure advance tunning
[gcode_macro M900]
description: Set Pressure Advance
gcode:
  SET_PRESSURE_ADVANCE ADVANCE={params.K|default(0)}